<section class="col-md-12 LOM-frame" id="LOMfr_8"><section class="LOM-element" data-lom-element="text" id="LOM_el_1"><div class="LOM-editable" id="LOM_edit_1"><h1><abbr title="Emergency Management">EM</abbr>&nbsp;in Action: Three Part Exercise Program</h1></div></section></section>
<section role="content" class="col-md-12 LOM-frame converted-page" id="LOMfr_1" data-converted-page="m98-25">
    <section class="LOM-element" data-lom-element="text" id="LOM_el_2"><div class="LOM-editable" id="LOM_edit_2"><p>In conjunction with the Vancouver Organizing Committee for the Olympic and Paralympic Games (VANOC), municipal, provincial and federal levels of government developed a three-part exercise program. It was designed to test and validate integrated response within the Lower Mainland of British Columbia in the event of an emergency during the 2010 Winter Olympic Games.</p></div></section>
    <section class="LOM-element" data-lom-element="text" id="LOM_el_3"><div class="LOM-editable" id="LOM_edit_3"><p>This program was broken down into three exercises. They increased in scope, complexity and participation from exercise to exercise.</p></div></section>
    
	<section class="LOM-element instructional" data-lom-element="text" id="LOM_el_4"><div class="LOM-editable" id="LOM_edit_4"><p>Click on each seal to learn more about the three exercise programs.</p></div></section>
    
    


    

<section class="LOM-element" data-lom-element="custom" id="LOM_el_5">
	<div class="col-md-1">
   		<!--Spacer div -->
   	</div>
    <a class="wb-lbx wb-lbx-inited" href="#1" id="wb-auto-10"><div class="col-md-3">
        <figure>
            <img class="img-responsive center" src="content/medias/images/m3-32-1.png" alt=" ">
        </figure>
        <h2 class="centeredText threatsHeading"><div class="LOM-editable" id="LOM_edit_5">Exercise Bronze</div></h2>
   </div></a>
   
   <div class="col-md-1">
   		<!--Spacer div -->
   </div>
   
   <a class="wb-lbx wb-lbx-inited" href="#2" id="wb-auto-11"><div class="col-md-3">
   		<figure>
            <img class="img-responsive center" src="content/medias/images/m3-32-2.png" alt=" ">
        </figure>
		<h2 class="centeredText threatsHeading"><div class="LOM-editable" id="LOM_edit_6">Exercise Silver</div></h2>
   </div></a>
   
   <div class="col-md-1">
   		<!--Spacer div -->
   </div>
   
   <a class="wb-lbx wb-lbx-inited" href="#3" id="wb-auto-12"><div class="col-md-3">
   		<figure>
            <img class="img-responsive center" src="content/medias/images/m3-32-3.png" alt=" ">
        </figure>
		<h2 class="centeredText threatsHeading"><div class="LOM-editable" id="LOM_edit_7">Exercise Gold</div></h2>
   </div></a>
	
	<!--MATERIAL MANAGEMENT SPECIALIST MODAL -->
    <div id="1" class="modal-dialog modal-content overlay-def mfp-hide">
        <section class="modal-content">
            <header class="modal-header overlay-hd">
                <h2 class="modal-title" id="lbx-title"><div class="LOM-editable" id="LOM_edit_8">Exercise Bronze</div></h2>
            </header>
            <div class="modal-body">
				<div class="LOM-editable" id="LOM_edit_9"><p>Exercise Bronze (November 2008) involved a tabletop exercise to examine regional safety and security issues.</p></div>
            </div>
        </section>
    </div>
    
    <!--OPERATIONS MANAGER MODAL -->
    <div id="2" class="modal-dialog modal-content overlay-def mfp-hide">
        <section class="modal-content">
            <header class="modal-header overlay-hd">
                <h2 class="modal-title" id="lbx-title"><div class="LOM-editable" id="LOM_edit_10">Exercise Silver</div></h2>
            </header>
            <div class="modal-body">
				<div class="LOM-editable" id="LOM_edit_11"><p>Exercise Silver (February 2009) incorporated the lessons learned from Exercise Bronze to practise safety and security plans, procedures and interoperability.</p></div>
            </div>
        </section>
    </div>
    
    <!--OPERATIONS MANAGER MODAL -->
    <div id="3" class="modal-dialog modal-content overlay-def mfp-hide">
        <section class="modal-content">
            <header class="modal-header overlay-hd">
                <h2 class="modal-title" id="lbx-title"><div class="LOM-editable" id="LOM_edit_12">Exercise Gold</div></h2>
            </header>
            <div class="modal-body">
				<div class="LOM-editable" id="LOM_edit_13"><p>Exercise Gold (November 2009) included two full-scale live-action events simulating chemical, biological, radiological, nuclear and explosives (<abbr>CBRNE</abbr>) incidents in Richmond and Vancouver, British Columbia. These simulations provided realistic environments, using volunteers as mock casualties. This final exercise confirmed readiness for the Olympics. Over 100 agencies participated, including local health authorities, the Public Health Agency of Canada, the Vancouver Police Department, the&nbsp;<abbr title="Royal Canadian Mounted Police">RCMP</abbr>, Vancouver Fire &amp; Rescue, the City of Vancouver and the Canadian Forces.</p></div>
            </div>
        </section>
    </div>
	
</section></section><div class="bg-danger" id="not-LOM-warning"><p><span class="glyphicon glyphicon-warning-sign"><span> This page's code structure has been converted to Learn-O-Matic's structure automatically. You can undo this conversion by selecting “Undo”:</span></span></p><p><button class="btn btn-default" id="LOM-convert-undo">Undo</button></p></div>